/*
* CSS NEXITY CONNECTING CHALLENGE MASTER
* Last update : 11/02/2016
* By Anne-Fleur Lefevre & Franck Netillard
*  Le Soleil Vert (2016) <contact@le-soleil-vert.com>
*/

@font-face{
    font-family:'Nexity Bold';
    src:url('/fonts/Nexity-Bold.eot');
    src:url('/fonts/Nexity-Bold.eot#iefix')
        format('embedded-opentype'),
        url('/fonts/Nexity-Bold.otf')
        format('opentype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Nexity';
    src:url('/fonts/Nexity-Regular.eot');
    src:url('/fonts/Nexity-Regular.eot#iefix')
        format('embedded-opentype'),
        url('/fonts/Nexity-Regular.otf')
        format('opentype');
    font-weight:normal;
    font-style:normal;
}

html, body { width:100%; height:100%; margin:0 auto; padding:0;}
html { -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body { font:14px 'Lato',sans-serif; line-height:1.2em; color:#666666; background:#FFF; background-size:100% auto; background-attachment:fixed;}

main { display:block;}


small { font-size:80%;}
sub, sup { position: relative; font-size:75%; line-height:0; vertical-align:baseline;}
sup { top: -.25em;}
sub { bottom: -.25em;}

.clear { float:none; clear:both; margin:0; padding:0; width:0; height:0; line-height:0; border:0; font-size:0; outline:0; overflow:hidden;}
.clearfix:before,
.clearfix:after { content:" "; display:table;}
.clearfix:after { clear:both;}
.clearfix { zoom:1;} /* For IE 6/7 (trigger hasLayout) */

*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

table { border-spacing:0; border-collapse:collapse; background-color:transparent;}
td, th { padding:0;}

p, ol, ul, li,
h1, h2, h3, h4, h5, h6,
blockquote { margin:0; padding:0; border:0; display:block;}
h2 { color:#a20065; font-family:'Nexity Bold'; font-size:25px; margin-bottom:15px;}
h3 { color:#a20065; font-family:'Nexity Bold'; font-size:25px;}
h4 { color:#a20065; font-family:'Nexity Bold'; font-size:20px; margin-bottom:15px;}
h5 { color:#a20065; font-family:'Nexity Bold'; font-size:17px;}
p { font-family:'Nexity';}


span.colorpurple {color:#a20065;}
span.colorbeige {color:#cac294;}
span.light {font-family:'Nexity';}

figure { margin:0; padding:0; border:0; display:block;}
button { margin:0; padding:0; border:0; display:block; cursor:pointer; background-color:transparent;}

a, a:link, a:active { color:#FFF; text-decoration:underline;}
a:hover, a:focus { text-decoration:none;}
a.noline, a.noline:link, a.noline:active { color:#FFF; text-decoration:none;}
a.noline:hover, a.noline:focus { text-decoration:underline;}

form { margin:0; padding:0; border:0; display:block;}
fieldset { max-width:100%; margin:0; padding:0; border:0; display:block;}
legend { width:100%; margin:0; padding:0; border:0; font-size:inherit; font-family:inherit; color:inherit; line-height:inherit; display:block;}
label { position:relative; margin:0; color:inherit; line-height:inherit; font-family:inherit; font-size:inherit; font-weight:normal;}
input { margin:0; font-family:inherit; font-size:1em; font-weight:normal; color:inherit; line-height:inherit; text-transform:none !important; overflow:visible;}
input[type="submit"],
input[type="reset"],
html input[type="button"] { -webkit-appearance:button;}
input[type="radio"],
input[type="checkbox"] { position:absolute; left:0; top:0; margin:0; padding:0;}
input[type="file"] { display:block;}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus { outline:0;}
input::-moz-focus-inner { padding:0; border:0;}
select { margin:0; font-family:inherit; font-size:1em; font-weight:normal; color:inherit; line-height:inherit; text-transform:none !important; cursor:pointer;}
select[multiple],
select[size] { height:auto; cursor:default;}
optgroup { margin:0; font-family:inherit; font-size:1em; font-weight:bold; font-style:normal; color:inherit; line-height:inherit; cursor:default;}
optgroup option { cursor:pointer;}
option { cursor:default;}
textarea { margin:0; height:4em; font-family:inherit; font-size:1em; font-weight:normal; color:inherit; text-transform:none !important; overflow-y:auto; overflow-x:hidden; resize:none;}
button { margin:0; font-family:inherit; font-size:1em; font-weight:normal; color:inherit; line-height:inherit; text-transform:none !important; overflow:visible; -webkit-appearance:button; cursor:pointer;}
button::-moz-focus-inner { padding:0; border:0;}

.hide { display:none;}
.hidden { display:none !important;}

::-webkit-scrollbar { width:12px;}
::-webkit-scrollbar-track { background-color:#353737; border-left:1px solid #575958;}
::-webkit-scrollbar-thumb { background-color:#717372;}
::-webkit-scrollbar-thumb:hover { background-color:#666;}

div.bg-logged { position:absolute; left:0; top:0; width:100%; height:255px; background:url(../media/img/natixis-header-bg.png) center top no-repeat;}


span.title { width:278px; display:block; padding:21px 11px; color:#FFF; font-family:'Nexity Bold'; font-size:45px; text-align:center; border:3px solid #c9c296; margin:80px auto; }
span.title.purple { border:3px solid #a20065; margin:20px auto; }



/*
* [HEADER]
*/

	.header { position:relative; width:1280px; height:122px; margin:0 auto;}
	.header .wrapper { position:relative; width:940px; height:122px; line-height:122px; margin:0 auto;}
	.header .wrapper .logo { width:249px; height:47px; margin:19px 0 0 34px; float:left;}
	.header .wrapper .logo a { width:100%; height:100%; display:block;}
	.header .wrapper .logo a img { width:100%; height:100%; display:block;}
	.header .wrapper .connecting-logo { width:313px; height:82px; float:right; margin:19px 77px 0 0;}
    

/*
* [SECTION]
*/

	.section { position:relative; width:1280px; margin:0 auto;}
	.section .wrapper-01 { position:relative; width:1280px; height:1110px; margin:0 auto; background:#DEDEDE;}
    .section .wrapper-01 .wrap-nav { width:100%; height:200px;}
    .section .wrapper-01 .wrap-nav ul { position:absolute; top:77px; width:100%;}
    .section .wrapper-01 .wrap-nav li { width:310px; height:72px; line-height:72px; color:#FFF; font-family:'Nexity'; font-size:28px; text-align:center; background:#800138; display:block; float:left;}
    .section .wrapper-01 .wrap-nav span { font-family:'Nexity Bold';}
    .section .wrapper-01 .wrap-nav li.full { width:170px;}
    .section .wrapper-01 .wrap-nav li.middle { margin:0 5px 0 5px;}

    .section .wrapper-01 .wrap-content { position:relative; width:100%; float:left;}
    .section .wrapper-01 .wrap-content.center { text-align:center;}
    .section .wrapper-01 .wrap-content.black { background:#000;}
    .section .wrapper-01 .wrap-content.video { width:854px; margin:20px auto; }
    
    .section .wrapper-01 .wrap-content .wrap-940px { width:940px; margin:0 auto;}
    .section .wrapper-01 .wrap-content .wrap-940px .engrenage { margin-right:20px; padding:20px 0; float:left;}
    .section .wrapper-01 .wrap-content .wrap-940px .content-text { position:relative; width:85%; padding:20px 0; height:200px; background:#000; float:right;}
    .section .wrapper-01 .wrap-content .wrap-940px .content-text p { position:absolute; top:20px;left:20px; width:100%; color:#FFF;}
    .section .wrapper-01 .wrap-content .wrap-940px .content-text span { color:#a20065;}



	.section .wrapper-02 { position:relative; width:1280px; height:750px; margin:0 auto; background:#202020; padding-top:58px;}
    .section .wrapper-02 .wrap-940px { width:940px; margin:40px auto;}
    .section .wrapper-02 .wrap-940px .box { width:100%; float:left;}
    .section .wrapper-02 .wrap-940px .box.left { width:66%; height:480px; padding:40px;}
    .section .wrapper-02 .wrap-940px .box.black { background:#000;}
    .section .wrapper-02 .wrap-940px .box.right { width:33%; float:right;}
    .section .wrapper-02 .wrap-940px .box.middle { margin:10px auto;}
    .section .wrapper-02 .wrap-940px .box.small { height:153px; padding:20px;}
/*
* [FOOTER]
*/

	.footer { width:940px; height:95px; margin:0 auto 20px auto;}